{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'sheet.css' %}">
</head>

<header>
    <h1>Meal Preparation</h1>
</header>

<body test>
    <div class="scroll-bg"></div>
    <select class="wide-button" name="helpChoice" id="helpChoice">
        <option value="0">Select Question</option>
        <option value="1">How do I view my recipes?</option>
    </select>
    <p></p>
    <div class="button-container">
        <a href="{% url 'home' %}">Back Home</a>
    </div>
</body>
<script>
    function msg(x){
        var stat = document.getElementById("helpChoice")
        if (stat == 1){

        }
    }
</script>
{% endblock %}