{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
</head>

<header>
    <h1>Meal Preparation</h1>
</header>

<main>
    <div class="scroll-bg"></div>
    <a href="{% url 'create_recipe' %}" class="wide-button">Create a Recipe</a>
    <div class="button-container">
        <a href="{% url 'pantry' %}">Pantry</a>
        <a href="{% url 'cart' %}">Shopping Cart</a>
        <a href="{% url 'my_recipes' %}">My Recipes</a>
        <a href="{% url 'forgot_password' %}">Forgot Password</a>
    </div>
</main>
{% endblock %}