<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="login.css">
    <title>Login Page</title>
</head>

<body>
    <div class="login-container">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            <div class="input-group">
                <label for="id_username">Username:</label>
                <input type="text" name="username" id="id_username" required>
            </div>
            <div class="input-group">
                <label for="id_password">Password:</label>
                <input type="password" name="password" id="id_password" required>
            </div>
            <div class="input-group">
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</body>

</html>