{% extends 'base.html' %}

{% block content %}
<h1>Pantry</h1>

<ul>
    {% for item in pantry_items %}
        <li>{{ item.item_name }} - {{ item.item_amount }}</li>
    {% endfor %}

</ul>

<form action="{% url 'add_item' %}" method="post">
    {% csrf_token %}
    <input type="text" name="item_name" placeholder="Item Name" required>
    <input type="number" name="item_amount" placeholder="Item Amount" required>
    <input type="submit" value="Add Item">
</form>

<form action="{% url 'clear_pantry' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Clear Pantry">
</form>
{% endblock %}